
.add_item {
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 30px;
}

.product_img {
  width: 100%;
  max-width: 133px;
  margin-bottom: 14px;
}

.add_cart_wrap {
  align-items: center;
  margin-top: 15px;
  display: flex;
}

.price {
  display: flex;
  flex-wrap: wrap;
}

.price_name {
  font-size: 11px;
  color: #BDBDBD;
}

.price_number {
  font-weight: bold;
  font-size: 14px;
}

.cart_btn {
  background: inherit;
  border: none;
  cursor: pointer;
}

.drawer_overlay {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
}