.main-content {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-column-gap: 1%;
  width: 100%;

  li {
    position: relative;
    width: 100%;
    padding: 20px;
    border-radius: 40px;
    border: 1px solid #F3F3F3;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    transition: all 0.2s linear;

    &:hover {
      box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
      transform: translateY(-10px);
    }
  }

  span {
    width: 100%;
  }
}

.add-item {
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 30px;
}

.product-img {
  width: 100%;
  max-width: 133px;
  margin-bottom: 14px;
}

.add-cart-wrap {
  align-items: center;
  margin-top: 15px;
  display: flex;
}

.price {
  display: flex;
  flex-wrap: wrap;
}

.price-name {
  font-size: 11px;
  color: #BDBDBD;
}

.price-number {
  font-weight: bold;
  font-size: 14px;
}

.cart-btn {
  background: inherit;
  border: none;
  cursor: pointer;
}

.drawer-overlay {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
}